<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Q2</title>
</head>
<body>
    <script>
        function myfunc() {
            var doj = document.getElementById("doj").value;
            var years = new Date(new Date() - new Date(doj)).getFullYear() - 1970;
            console.log(years);
            var res = document.getElementById("res");
            if (years > 5) {
                res.innerHTML = "Yes!!!"
            }
            else {
                res.innerHTML = "NO"
            }
        }
    </script>
    <label for="cars">Employee ID:</label>
    <select name="id" id="id">
        <option value="">-Select Your E-ID-</option>
        <option value="e1">231</option>
        <option value="e2">232</option>
        <option value="e3">233</option>
        <option value="e4">234</option>
    </select><br /><br />
    Choose Date of Joining:  <input type="text" id="doj" placeholder="YYYY-MM-DD" /><br /><br />
    <button onclick="myfunc()">Am I eligible for Promotion?</button><br />
    <p id="res"></p>
</body>
</html>
